
<div class="row columns">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <input type="text" id="message" 
        placeholder="What's your opinion about the Workshop"
        *ngIf="(user | async)?.uid"
        [(ngModel)]="msgVal" 
        (keyup.enter)="send($event.target.value)">
  
  <div id="details-container">
    <p *ngFor="let item of items | async">
      <img src="../assets/images/pin.svg" alt="{{item.message}}">
      {{item.message}}
    </p>
  </div>
</div>

<router-outlet></router-outlet>
