
<div class="container">

  <h1 class="text-center mb-5">
    Welcome to X-Team Workshops &#12484;
  </h1>

  <div class="row">
      <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
      <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
  </div>

  <div class="row">
      <input autofocus type="text" id="message" 
        class="col-12 px-3 py-2 mb-3"
        placeholder="What's your opinion about the Workshop"
        *ngIf="(user | async)?.uid"
        [(ngModel)]="msgVal" 
        (keyup.enter)="send($event.target.value)">
  </div> 

  <div id="feedback-container">
    <p class="m-2" *ngFor="let item of items | async">
      <img class="mr-2 mb-2" src="./assets/images/like.gif" alt="X-Team">
      {{item.message}}
    </p>
  </div>
</div>

<router-outlet></router-outlet>
