/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Raleway';
}

body {
    background-color: #EBEBEB;
    padding-top: 50px;
}

button {
    background: #008FEF;
    color: #fff;
    padding: 20px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}